<!DOCTYPE html>
<html lang="en">
<body>
<h2> Add friends</h2>
<form action="/search" method="GET">
    <input type="text" name="query" placeholder="Search..">
    <button type="submit">Search</button>
</form>
<h2>Your Friends:</h2>
<% friends.forEach(function(friend) { %>
    <div class="friend">
        <h3><a href=<%="/profile/" + friend.Friend.UserID%>><%= friend.Friend.UserNickName %></a></h3>
    </div>
<% }); %>
<% friends_2.forEach(function(friend) { %>
    <div class="friend">
        <h3><a href=<%="/profile/" + friend.Friend.UserID%>><%= friend.Friend.UserNickName %></a></h3>
    </div>
<% }); %>
<h2>Friend requests you've received</h2>
<% receivedFriendRequests.forEach(function(friendRequest) { %>
    <div class="receivedFriendRequest">
        <h3><a href=<%="/profile/" + friendRequest.User.UserID%>><%= friendRequest.User.UserNickName %></a></h3>
        <form action=<%= "/acceptFriend/" + friendRequest.User.UserID %> method="POST">
            <button type="submit" name="friend_id" value="<%= friendRequest.User.UserID %>">Accept</button>
        </form>
    </div>
<% }); %>
</body>
</html>