<div class="user_profile_section">
  <div class="section_name">
    <h2>Chat</h2>
    <div class="inbox_display" id="display">
      <% otherUsers.forEach(user => { %>
        <div class="inbox" onclick="Inbox('<%= user.inboxID %>')">
          <div class="chat_message">
            <img src="<%= "/" + user.profilePicture %>" alt="pp" width="50" height="50" class="profile_picture">
            <div class="message_content">
              <h1><%= user.otherUserName %></h1>
              <p id="latest<%= user.inboxID %>"><%= user.lastMessage %></p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
<div class="user_feed_section">
  <div class="section_name">
    <h2>Create Post</h2>
<div class="container">
    <form  action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input style="border-radius: 24px !important;" type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea style="border-radius: 24px !important;" class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
      </div>
      <div>
        <input type="file" class="form-control" name="photo" accept="image/*">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
  <script>function Inbox(otherInboxID) {
    window.location.href = '/chat/'+otherInboxID; 
  }</script>
  