<!DOCTYPE html>
<html lang="en">

<body>
   
    <div class="user_profile_section">
        <div class="section_name">
            <h2>My Profile</h2>
        </div>
    <% if (user.UserID === otherUser.UserID) { %>
        <form id="profile-form" action=<%="/profile/" + otherUser.UserID%> method="POST" enctype="multipart/form-data">
            
            <div style="text-align: center; margin-top: 10%;" class="form-group">
                <label for="profilePicture">
                <% if (otherUser.ProfilePicture === null) { %>
                    <img style="width: 50%;height: auto; border-radius: 90%; border-style: solid;" src="/images/default.jpg" alt="missing_profile_picture">
                <% } else { %>
                <img style="width: 50%;height: 50%; border-radius: 90%; border-style: solid;" src="<%="/" + otherUser.ProfilePicture %>" alt="profile_picture" width="50%" height="50%">
                <% } %></label>
                
                <input style="display: none;" type="file" class="" id="profilePicture" name="profilePicture">
                
                <div style="margin-top: 5%; color: #003c71;font-size: larger; font-weight: bold;">
                    <p id="username-text"><%=otherUser.UserName%></p>
                    
                    <input class="form-control" id="username" name="username" style="display: none; max-width: 60%; text-align: center; margin-left: 20%;" value="<%=otherUser.UserName%>">
                </div>

            </div>
            <button type="submit" class="btn btn-secondary">Save</button>
            
        </form>
        <p id="error-message" style="color: red; display: none;"></p> <!-- Error message will be inserted here -->
        
    </div>
    <div style="margin-left: 32%;">
        <h2>Your Posts:</h2>
    <% posts.forEach(function(post) { %>
        <div class="post">
            <h3><%= post.Title %>, <%=post.TimePosted%></h3>
            <% if (post.Picture) { %>
            <img src="<%="/" + post.Picture %>" alt="post_picture" width="200" height="200">
            <% } %>
        </div>
    <% }); %>
    </div>
    

    <% } else { %>
        <p><%= otherUser.Biography %></p>
        <% if (otherUser.ProfilePicture === null) { %>
            <img src="/images/default.jpg" alt="missing_profile_picture">
        <% } else { %>
            <img src="<%="/" + otherUser.ProfilePicture %>" alt="profile_picture" width="50%" height="50%">
        <% } %>
    <% } %>

<script>
    document.getElementById('profile-form').addEventListener('submit', function(e) {
    var username = document.getElementById('username');

    var errorMessage = document.getElementById('error-message');
    errorMessage.style.display = 'none';

    if (!username.value.trim()) {
        e.preventDefault();
        errorMessage.textContent = 'The username field cannot be empty';
        errorMessage.style.display = 'block';
    }

});
    document.querySelectorAll('p').forEach(function(p) {
        p.addEventListener('click', function() {
            this.style.display = 'none';
            var form = this.nextElementSibling;
            form.style.display = 'block';
            form.nextElementSibling.style.display = 'block';
        });
    });
</script>
</body>
</html>
