<div class="user_profile_section">
    <div class="section_name">
        <h2>Chat</h2>
        <div class="inbox_display" id="display">
            <% otherUsers.forEach(user => { %>
                <div class="inbox" onclick="Inbox('<%= user.inboxID %>')">
                  <div class="chat_message">
                    <img src="<%= "/" + user.profilePicture %>" alt="pp" width="50" height="50" class="profile_picture">
                    <div class="message_content">
                      <h1><%= user.otherUserName %></h1>
                      <p id="latest<%= user.inboxID %>"><%= user.lastMessage %></p>
                    </div>
                  </div>
                </div>
              <% }) %>
          </div>
    </div>
</div>
<div class="user_feed_section">
    <div class="section_name">
    <h2>Friends</h2>
        <div class="section2_name">
            <div class="tab">
                <div class="list active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                        </svg>
                    <p>Friends List</p>
                </div>
                <div class="req">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                        </svg>
                    <p>Friend Requests</p>
                </div>
                <div class="add">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    <p>Add Friends</p>
                </div>
            </div>
        </div>
        <div class="section_search">
            <div class="search_field rounded-pill">
                <div class="search_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </div>
                <div class="search_input">
                    <form action="/search" method="GET" class="input">
                        <input type="text" name="query" placeholder="Search Friends" class="input">
                    </form>
                </div>
            </div>
        </div>
        <h2>Search Results</h2>
        <% results.forEach(function(user) { %>
            <div class="user">
                <h3><a href=<%="/profile/" + user.UserID%>><%= user.UserName %>  (<%=user.UserNickName%>)</a></h3>
            </div>
            <% if (!existingFriendRequests.some(request => request.FriendUserID === user.UserID) && !existingFriendRequests_2.some(request => request.UserID === user.UserID)) { %>
                <form action=<%= "/addFriend/" + user.UserID %> method="POST" class="add-friend">
                    <button type="submit" name="friend_id" value="<%= user.UserID %>">Add Friend</button>
                </form>
            <% } else { %>
                <p>You have already sent a friend request to this User or you are already friends with them.</p>
            <% } %>
        <% }); %>
    </div>
</div>

<script>
    // Disable the add friend button after it has been clicked
    const addFriendButtons = document.querySelectorAll('.add-friend button');
    addFriendButtons.forEach(button => {
        button.addEventListener('click', () => {
            button.disabled = true;
            button.textContent = 'Friend Request Sent';
        });
    });
</script>